
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}


.navbar {
  display: flex;
  background-color: rgb(26, 5, 144);
  text-align: center;
  
}

.navbar-menu{
  display: grid;
  grid-template-columns: repeat(3, auto); 
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  width: 100vw;
  height: 4rem;
  background-color:rgb(26, 5, 144);
  font-size: 1rem;

}

.navbar-link{
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
}

.navbar-link:hover{
  background-color: rgba(47, 16, 221, 0.999);
  border-radius: 10px;
  transition: all 0.2s ease-out ;
}


.cosmetic-wrapper{
  align-content: center;
  position:center;
  padding: 20px ;
  margin: 30px 15px;

}

.cosmetic{
  text-align: center;
  align-content: center;
  display:flex;
  flex-direction: column;
  padding: 20px ;
  margin: 0 auto;
  max-width: 400px;
  max-height: 1000px;
  /* height: 600px; */
  position:relative;
  box-shadow: 0 1px 5px rgb(26, 5, 144);
  transition: 0.3s ease-in-out;
}


.cosmetic-title{
  font-weight: bold;
  font-size: large;
  color: rgb(26, 5, 144);
}


.search-bar{
  color: rgb(26, 5, 144);
  width: 100%;
  padding: 20px 15px;
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1px;
}

.gg-search {
  margin: 1px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -33px;
  margin-top: -4px
}

.search-field {
  margin: 0 auto;
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 200px; 
  outline: none;
  box-shadow: 0 1px 5px rgb(26, 5, 144);
}



.button-wrapper span{
  position: relative;
  z-index: 2;
}

.button{
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  border-radius: 4rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgb(26, 5, 144);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .5s;
  background: rgb(26, 5, 144);
}

.button:after{
  border-radius: 4rem;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
  background: white;
  color: white;
}

.button:hover{
  cursor: pointer;
  color: rgb(26, 5, 144);
}

.button:hover:after{
  color: rgb(26, 5, 144);
  width: 100%;
}




li {
  color: rgb(26, 5, 144);;
  padding-top: 3px;
  font-size: 15px;
}

li:hover {
  cursor: pointer;
}

.ingredientFunc {  
    font-style: italic;
    font-weight: bold;
}
